.row {
    display: flex;
    width: 100% !important;
    justify-content: space-between !important;
    padding-bottom: 0.25em;
}

.column {
    text-align: right;
    overflow: hidden;
    font-size: 0.8vw;
    align-items: center;
}

/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 1.5em;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1em;
    vertical-align: middle;
}

    /* Hide the browser's default checkbox */
    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5em; /* Relative size based on font size */
    width: 1.5em; /* Relative size based on font size */
    background-color: #eee;
    transition: background-color 0.2s ease;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 30%;
    top: 15%;
    width: 25%;
    height: 50%;
    border: solid white;
    border-width: 0 0.2em 0.2em 0;
    transform: rotate(45deg);
}

