h1 {
    font-family: GoodTimes;
    font-size: 1.5rem;
    color: #ffffff;
}

h2 {
    font-family: GoodTimes;
    font-size: 0.75rem;
    color: #ffffff;
    padding-top: 0.5rem;
}

#GTBTsHeader {
    font-family: GTBTs;
    padding-left: 0.2rem;
}

.header {
    /*Position to top of page*/
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 5%;
    border-bottom: 2px solid #FF7000;
    /*center the header text*/
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

#fade-effect {
    background: linear-gradient(0deg, #FF7000 0%, rgba(0, 0, 0, 1) 60%);
}
